@model DriveNow.MVC.Models.AgenciaView

<h1>Deletar Agência</h1>

<h4 class="text-danger">Tem certeza que deseja deletar a agência?</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Nome Fantasia</dt>
        <dd class="col-sm-10">@Model.NomeFantasia</dd>

        <dt class="col-sm-2">CEP</dt>
        <dd class="col-sm-10">@Model.Cep</dd>

        <dt class="col-sm-2">Logradouro</dt>
        <dd class="col-sm-10">@Model.Logradouro</dd>

        <dt class="col-sm-2">Bairro</dt>
        <dd class="col-sm-10">@Model.Bairro</dd>

        <dt class="col-sm-2">Cidade</dt>
        <dd class="col-sm-10">@Model.Localidade</dd>

        <dt class="col-sm-2">UF</dt>
        <dd class="col-sm-10">@Model.Uf</dd>
    </dl>

    <form asp-action="DeletarAgenciaConfirmado" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>